## Dynamic configuration
# Put here you dynamic conf (sample below)


#[http.routers]
#  [http.routers.my-router]
#    rule = "Host(`myrouter.localhost`)"
#    service = "my-service"
#    entryPoint = ["websecure","web"]
#  [http.routers.my-router.tls]
#    certResolver = "lets"
#
#[http.services]
#  [http.services.my-service.loadBalancer]
#    [[http.services.my-service.loadBalancer.servers]]
#      url = "http://127.0.0.1"
